fastapi
uvicorn
langgraph
langchain
langchain-openai
python-dotenv
chromaDB
sqlalchemy
psycopg2-binary
pymongo
redis
chromadb
langchain-openai
python-dotenv
kafka-python
requests
pyspark
pandas
datasets
